.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.mail{
    background-image: url(../assets/imgs/envelop.svg);
    max-height:50%;
}

.box{
    background-image: url(../assets/imgs/dropbox.svg)
}

.tv{
    background-image: url(../assets/imgs/television.svg)
}

.chair{
    background-image: url(../assets/imgs/armchair.svg)
}




.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    
    width:60px;height:30px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.4);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.4);
            filter: brightness(1.8) grayscale(1) opacity(.4);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


.poka:hover{
    background-color: #bec0c4;
}



.center{
    
    text-align: center;
}

ion-chip ion-label{
    font-size: 20px;
}
/* Extras */

.labl {
    width: 400px;
}
.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
         transition: all 100ms ease-in;
}

 .labl > input:checked + div { /* (RADIO CHECKED) DIV STYLES */
    
        background-color: #bec0c4;

}



